{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="categories">
            <ul>
                <div class="categories_item">
                    <li {% if not selected_category %} class="selected"{% endif %}><a href="/gallery">All</a></li>
                </div>
                {% for category in categories %}
                <div class="categories_item">
                    <li {% if category.name == selected_category %} class="selected"{% endif %}><a href="/gallery?category={{ category.name }}">{{ category.name }}</a></li>
                </div>
                {% endfor %}
             </ul>
        </div>
        <div class="container_grid">
            {% for photo in photos %}
            <div class="gallery-container">
                <div class="gallery-item {% if photo.width > photo.height %}wide{% elif photo.width < photo.height %}tall{% endif %}">
                    <div class="image">
                        <a href="{{ photo.get_absolute_url }}">
                            <img src="{{photo.png_image.url}}" alt="{{ photo.name }}">
                        </a>
                    </div>
                    <div class="gallery-text">
                      <p>{{ photo.name }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>empty</p>
            {% endfor %}
        </div>
    </div>

<script>

</script>

{% endblock %}
