{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="container">
        <div class="categories">
            <ul>
                <div class="categories_item">
                    <li {% if not selected_category %} class="selected"{% endif %}><a href="/gallery">All</a></li>
                </div>
                {% for category in categories %}
                <div class="categories_item">
                    <li {% if category.name == selected_category %} class="selected"{% endif %}><a href="/gallery?category={{ category.name }}">{{ category.name }}</a></li>
                </div>
                {% endfor %}
             </ul>
        </div>
        <div class="container_grid">
        {% for photo in photos %}
        <div class="gallery-container">
            <div class="gallery-item {% if photo.width > photo.height %}wide{% elif photo.width < photo.height %}tall{% endif %}">
                <div class="image">
                    <a href="{{ photo.get_absolute_url }}">
                        <img src="{{photo.png_image.url}}" alt="{{ photo.name }}">
                    </a>
                </div>
                <div class="gallery-text">
                    <div><i class="fas fa-share-alt"></i></div>
                    <div><p>{{ photo.category }}</p></div>
                    <button class="like-button" onclick="likePhoto({{ photo.id }});">
                    <span id="like-count-{{ photo.id }}">{{ photo.likes }}</span> x
                    <i class="fas fa-heart"></i>
                    </button>
                </div>
            </div>
        </div>
        {% empty %}
        <p>empty</p>
        {% endfor %}
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
function likePhoto(photo_id) {
  var url = '/like_photo/';
  var data = {
    'photo_id': photo_id,
    'csrfmiddlewaretoken': '{{ csrf_token }}'
  };

  // Disable the button for 2 seconds
  $('.like-button').prop('disabled', true);
  setTimeout(function() {
    $('.like-button').prop('disabled', false);
  }, 2000);

  // Send the request to the server
  $.post(url, data, function(response) {
    $('#like-count-' + photo_id).html(response.likes);
  });
}

</script>


<!--<script>-->
<!--    const likeButtons = document.querySelectorAll('.like-button');-->

<!--likeButtons.forEach((button) => {-->
<!--  button.addEventListener('click', () => {-->
<!--    const heartIcon = button.querySelector('i.fa-heart');-->
<!--    const isLiked = heartIcon.classList.contains('liked');-->
<!--    heartIcon.classList.toggle('liked', !isLiked);-->
<!--  });-->
<!--});-->
<!--</script>-->

{% endblock %}
