{% extends 'base.html' %}
{% block title %}Photo{% endblock %}
{% load static %}
{% block main %}
{% block content %}

<div class="container_photo">
<!--    <a href="{{ photo.png_image.url }}">-->
    <div class="photo_menu">
        <div class="go_back">
        {% if next_photo %}
            <a href="{% url 'photos_web:view_photo' next_photo.slug %}">&larr; Previous</a>
        {% else %}
            <a href="">&larr; Previous</a>
        {% endif %}
        </div>

        <div class="go_back">
            <a href="/gallery">Go back</a>
        </div>

        <div class="go_back">
        {% if previous_photo %}
            <a href="{% url 'photos_web:view_photo' previous_photo.slug %}">Next &rarr;</a>
        {% else %}
            <a href="">Next &rarr;</a>
        {% endif %}
        </div>
    </div>




        <div class="image_photo">
            <img src="{{ photo.png_image.url }}">
        </div>
<!--        <div class="description">-->
<!--            <div class="text_title">-->
<!--                 <p>{{ photo.name }}</p>-->
<!--            </div>-->
<!--            <p>{{ photo.description }}</p>-->
<!--        </div>-->

    <p>{{ photo.gps_coordinates }}</p>
</div>

{% endblock %}
{% endblock %}
