{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="container">
<!--        <div class="samples_container">-->
<!--            <div class="sample_photo1">-->
<!--                <img src="{% static 'media/livingroom4.png' %}">-->
<!--                <div class="inner_sample_photo">-->
<!--                    <img src="{% static 'media/_DSC9014.png' %}">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="sample_photo2">-->
<!--                <img src="{% static 'media/livingroom2.png' %}">-->
<!--                <div class="inner_sample_photo2">-->
<!--                    <img src="{% static 'media/_DSC4732.png' %}">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="sample_photo3">-->
<!--                <img src="{% static 'media/livingroom6.png' %}">-->
<!--                <div class="inner_sample_photo3">-->
<!--                    <img src="{% static 'media/_DSC1347.png' %}">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


        <div class="categories">
            <ul>
                <div class="categories_item">
                    <li{% if not selected_category %} class="selected"{% endif %}><a href="/store/products_gallery/">All</a></li>
                </div>
                {% for category in categories %}
                <div class="categories_item">
                    <li{% if category == selected_category %} class="selected"{% endif %}><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                </div>
                {% endfor %}
             </ul>
        </div>
        <div class="container_grid">
            {% for product in products %}
            <div class="gallery-container">
                <div class="gallery-item">
                    <div class="image">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{product.photo.png_image.url}}" alt="{{ product.name }}">
                    </a>
                    </div>
                    <div class="gallery-text">
                      <p>{{ product.price }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>empty</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}
