<footer>
  <div class="footer_container">

    <div class="row">
      <div class="col">
        <div class="social_icons">
<!--          <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>-->
          <a href="https://www.instagram.com/lukas_mandik/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/lukas-mandik-62324b253/"><i class="fab fa-linkedin"></i></a>
          <a href="mailto:swipe47@gmail.com"><i class="far fa-envelope"></i></a>
        </div>
        <p>&copy; 2023 Lukas Mandik Photography</p>
        <p>Designed by Lukas Mandik</p>
      </div>
    </div>



  </div>
</footer>
