{% extends 'base.html' %}

{% load static %}


{% block content %}
    <div class="container">

        {% for photo in photos %}
        <div class="gallery-container">
            <div class="gallery-item">
                <div class="image">
                    <img src="{% static 'photos/' %}{{ photo.file_name }}.png" alt="{{ photo.name }}">
                </div>
                <div class="gallery-text">
                  <p>{{ photo.name }}</p>
                </div>
<!--                    <p>{{ photo.name }}</p>-->
<!--                    <p>{{ photo.description }}</p>-->
            </div>
        </div>
        {% endfor %}
    </div>
    </div>


{% endblock %}
