{% extends 'base.html' %}
{% load static %}
{% block title %}HOME{% endblock %}
<div id="loading-screen" class="loading-screen">
    <div class="loading-text">Loading...</div>
</div>
<script src="{% static 'js/loading.js' %}"></script>

{% block content %}

<div class="main_home_container">

    <div class="slideshow-container">
        {% for photo in photos %}
        <div class="mySlides fade">
            <img src="{{photo.image.url}}">
            <div class="text">{{ photo.name }}</div>
        </div>
        {% endfor %}
        <div class="row_dot" style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>

    <div class="home_container">
        {% if request.user.is_authenticated %}
            <div class="left_home_container">
                <div class="title_home_container"><h2>Welcome on page!</h2></div>
                <div class="item_home_container">
                    <p>{{ request.user.first_name }}, here you can explore the beauty of nature through my lens. My photos capture stunning landscapes, breathtaking mountain ranges, and serene bodies of water. From majestic sunsets to vibrant autumn foliage, every photo tells a unique story.</p>
                    <p>I have taken these photos on various hikes, expeditions, and camping trips across different mountain ranges. I love to spend time in the wilderness and capture the beauty of nature around me.</p>
                    <p>Take a moment to browse through my gallery and discover the wonder and tranquility of the great outdoors.</p>
                </div>
            </div>
        <div class="duble_container">
            <div class="right_home_container hidden">
                <div class="title_home_container"><h2>About me</h2></div>
                <img src="{{ home_photo.image.url }}" alt="{{ home_photo.name }}">
                <div class="item_home_container">
                    <p>Here you can explore the beauty of nature through my lens. My photos capture stunning landscapes, breathtaking mountain ranges, and serene bodies of water. From majestic sunsets to vibrant autumn foliage, every photo tells a unique story.</p>
                    <p>I have taken these photos on various hikes, expeditions, and camping trips across different mountain ranges. I love to spend time in the wilderness and capture the beauty of nature around me.</p>
                    <p>Take a moment to browse through my gallery and discover the wonder and tranquility of the great outdoors.</p>
                </div>
            </div>

            <div class="down_home_container hidden2">
                <div class="title_home_container">
                    <h2>Top liked</h2>
                </div>
                {% for photo in top_likes_photos %}
                <div class="gallery-container">
                    <div class="gallery-item">
                        <div class="image">
                            <a href="{{ photo.get_absolute_url }}">
                                <img src="{{photo.png_image.url}}" alt="{{ photo.name }}">
                            </a>
                        </div>
                        <div class="gallery-text">
                            <div><i class="fas fa-share-alt"></i></div>
                            <div><p>{{ photo.category }}</p></div>
                            <button class="like-button" onclick="likePhoto({{ photo.id }});">
                            <span id="like-count-{{ photo.id }}">{{ photo.likes }}</span> x
                            <i class="fas fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>empty</p>
                {% endfor %}
            </div>
            {% else %}
                <div class="item_home_container">
                    <p>You are not logged in.</p>
                    <p>The beauty of nature captured through the lens. Explore stunning landscapes, breathtaking mountain ranges, and serene bodies of water. From majestic sunsets to vibrant autumn foliage, every photo tells a story. Discover the wonder and tranquility of the great outdoors.</p>
                </div>
            {% endif %}
        </div>
    </div>

</div>

<!--    <style>-->
<!--        .left_home_container {-->
<!--            background-image: url('{% static "images/_DSC9014.JPG" %}');-->
<!--            background-size: cover;-->
<!--            background-position: top;-->
<!--            background-repeat: no-repeat;-->
<!--        }-->
<!--    </style>-->



<script>
  document.addEventListener('scroll', function () {
    const leftContainer = document.querySelector('.left_home_container');
    const rightContainer = document.querySelector('.right_home_container');
    const downContainer = document.querySelector('.down_home_container');
    const leftContainerRect = leftContainer.getBoundingClientRect();
    const windowHeight = window.innerHeight;

    if (leftContainerRect.bottom <= windowHeight - 180) {
      rightContainer.classList.remove('hidden');
    } else {
      rightContainer.classList.add('hidden');
    }

        if (leftContainerRect.bottom <= windowHeight - 400) {
      downContainer.classList.remove('hidden2');
    } else {
      downContainer.classList.add('hidden2');
    }
  });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('.title_home_container h2').addClass('centered');
    });
</script>

<script>
    $(document).ready(function() {
        $('.item_home_container p').addClass('centered');
    });
</script>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

// Automatické prechádzanie fotiek
function autoSlides() {
  plusSlides(1);
}

let autoSlidesInterval = setInterval(autoSlides, 5000); // Zmena fotiek každé 2 sekundy (2000 ms)
</script>


{% endblock %}
