{% load static %}
<div class="wrapper">
    <div class="navbar">
        <div class="inner_navbar">
            <div class="logo">
                <a href="/"><img src="{% static 'media/lm_logo.png' %}"></a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="">About me</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="/store/products_gallery/">Store</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
</div>