{% load display_tags %}
{% load i18n %}
{% load image_tags %}
{% load reviews_tags %}

{% block product %}
    <article class="catalog_grid">
        {% block product_image %}
            <div class="shop-catalog-image">
                {% with image=product.primary_image %}
                    {% oscar_thumbnail image.original "440x400" upscale=False as thumb %}
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="">
                    </a>
                {% endwith %}
            </div>
        {% endblock %}


        {% block product_title %}
            <h3 class="shop-gallery-card-title">
                <a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">
                    {{ product.get_title|truncatewords:4 }}
                </a>
            </h3>
        {% endblock %}
<!--        {% block product_review %}-->
<!--            {% iffeature "reviews" %}-->
<!--                <p class="star-rating {{ product.rating|as_stars }}">-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                </p>-->
<!--            {% endiffeature %}-->
<!--        {% endblock %}-->
        {% block product_price %}
            {% include "oscar/catalogue/partials/stock_record.html" %}
        {% endblock %}
    </article>


{% endblock %}
